@model alluberes.hosteleria.webUILogin.Models.Oferta

@{
    ViewBag.Title = "MostrarOferta";
}

<h2>MostrarOferta</h2>

<div>
    @Html.Partial("OfertaCard", Model)
</div>

<div>
    @{ Html.RenderAction("ComentariosOferta", new { id = Model.OfertaId }); }

</div>

<div>

    @using (Html.BeginForm("PostComentario", "Oferta", FormMethod.Post))
    {
        
        <input type="hidden"  name="OfertaId" value="@Model.OfertaId"/>
        <div class="row">
            <div class="col-10">
                <textarea name="Nota" cols="12" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Comentar</button>
            </div>
        </div>
    }

    </div>
