@model alluberes.hosteleria.WebUI.Models.Oferta

<div class="card">
    <div class="card-header"><a href="@Url.Action("MostrarOferta", "Oferta", new { id = Model.OfertaId })"> @Model.Encabezado</a></div>
    <div class="card-body">

        @Model.Detalle

    </div>


</div>
